  /* Label */
  .label {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    display: block;
    margin-bottom: 8px;
  }

  /* Send Button */
  .send {
    border-radius: 100%;
    border: 0.5vmin solid #ffffff;
    background: #ffffff21;
    margin-left: 1%;
    color: #ffffff;
  }
  
  /* Input field */
  input {
    font-size: 16px;
    font-weight: 400;
    width: 85%;
    color: #ffffff;
    background: #ffffff21;
    border: 0.5vmin solid #ffffff;
    border-radius: 1vmin;
    padding: 10px 14px;
  }
  
  input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
  }
  
  .error {
    color: #e68278;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 4px;
  }